.flyedit-text-controls .save,
.flyedit-text-controls .cancel,
.flyedit-m2m-controls .save,
.flyedit-m2m-controls .cancel {
    display: none;
}
    

.flyedit-image-remove {
    background: #f6311a;
    color: #fff;
    border: solid #fff 1px;
    border-radius: 2px;
    cursor: pointer;
    padding: 0px 2px;
    margin: 1px;
}

.flyedit-image-remove:hover {
    background: #fff;
    color: #f6311a;
    border-color: #f6311a;
}

.flyedit-choices-radio {
    background: #fff;
    border: solid #aaa 1px;
}

.flyedit-choices-radio label {
    cursor: pointer;
}

.flyedit-choices-radio label:hover {
    color: #000;
}